<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="musicPlayer.properties"/>

<!--    общийй бин-->
    <bean id="musicBean"
          class="com.bmolc.music.RockMusic">
    </bean>

<!--    бины по жанрам-->
    <bean id="classicalMusic"
          class="com.bmolc.music.ClassicalMusic">
    </bean>

    <bean id="rockMusic"
          class="com.bmolc.music.RockMusic">
    </bean>

    <bean id="popMusic"
          class="com.bmolc.music.PopMusic">
    </bean>

<!--    бин плеера одной песни-->
    <bean id="musicOnePlayer"
            class="com.bmolc.music.MusicOnePlayer">
        <property name="music" ref="musicBean"/>

        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

<!--    бин для плеера разных жанров-->
    <bean id="musicPlayer"
          class="com.bmolc.music.MusicPlayer">
        <constructor-arg>
            <list>
                <ref bean="classicalMusic" />
                <ref bean="rockMusic" />
                <ref bean="popMusic" />
            </list>
        </constructor-arg>
    </bean>
</beans>